<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-footer d-flex justify-content-end">
                <a href="mentions-legales" alt="Mentions légales">Mentions légales</a>
                <a href="a-propos" alt="A propos">A propos</a>
                <a href="plan-du-site" alt="Plan du site">Plan du site</a>
                <p style="padding:10px">&copy; 2022</p>
            </div>
        </div>
    </div>
</footer>