<div class="container-fluid mt-3 mt-md-5 mb-3 mb-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mb-md-0  col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://via.placeholder.com/636x636" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://via.placeholder.com/636x636" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://via.placeholder.com/636x636" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-12 mb-3 mb-md-0 col-md-6">
                <section id="le-musee">
                    <h1>
                        Welcome text
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo, nulla in vehicula semper, orci augue rutrum massa, mollis molestie lectus dolor sit amet nunc. Mauris nisi felis, laoreet et tortor eu, eleifend pellentesque sapien. Nam ullamcorper hendrerit metus eu blandit. Phasellus elementum malesuada urna non tincidunt. Quisque tempus massa vitae nisi malesuada, sit amet lacinia enim pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras placerat mauris in justo pellentesque tempor quis nec massa. Sed aliquet consequat orci, et accumsan lorem vestibulum sit amet. Morbi eget dolor in eros ultrices sollicitudin nec id nunc. Integer lobortis mi vel elit venenatis varius. Sed ullamcorper, tortor quis tristique feugiat, lacus nulla euismod ex, quis fringilla ex mauris efficitur magna.

                        Sed pretium pellentesque odio, id tincidunt dolor dapibus non. Vestibulum eu interdum metus, vitae condimentum nisl. Cras fringilla mi vel dignissim varius. Aliquam porta enim quis urna ultrices, sed suscipit leo egestas. Suspendisse luctus, ante et sodales feugiat, orci dui imperdiet eros, non varius magna tortor a ligula. In hac habitasse platea dictumst. Maecenas et pellentesque velit. Vestibulum ultrices congue consectetur. Nulla facilisis tempus lorem sit amet porttitor. Nam tincidunt nunc commodo ornare convallis. Mauris non eros tellus.

                        Nam vulputate ligula quis tincidunt aliquet. Nunc euismod dictum lorem, congue tincidunt quam tristique sed. Praesent ornare mattis neque, nec blandit justo efficitur sed. Etiam eget pharetra nulla. Nullam non nulla sapien. Pellentesque ultrices, eros quis porta commodo, lorem erat malesuada orci, id sollicitudin orci elit ac eros. Ut id nunc odio. Duis gravida ac massa vel gravida. Integer tellus velit, lacinia posuere lacus vitae, dictum tempor nulla. Curabitur ut vehicula justo, ut blandit massa. Quisque ullamcorper quis ligula non malesuada.

                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
