<div style="min-height: 90vh;background-color:white">
    <div class="" style="min-height: 90vh">
        <div class="row justify-content-md-center pt-2">
            <div class="col-12 text-center" style="min-height: 10vh">
                <h2>Les collections préhistoriques</h2>
            </div>
            <div class="col-12 mb-5 mb-md-0"  style="min-height: 60vh">
            
            </div>

            <div class="col-10 col-offset-1 mb-3 mb-md-0"  style="min-height: 20vh">
                <section id="le-musee">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo, nulla in vehicula semper, orci augue rutrum massa, mollis molestie lectus dolor sit amet nunc. Mauris nisi felis, laoreet et tortor eu, eleifend pellentesque sapien. Nam ullamcorper hendrerit metus eu blandit. Phasellus elementum malesuada urna non tincidunt. Quisque tempus massa vitae nisi malesuada, sit amet lacinia enim pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras placerat mauris in justo pellentesque tempor quis nec massa. Sed aliquet consequat orci, et accumsan lorem vestibulum sit amet. Morbi eget dolor in eros ultrices sollicitudin nec id nunc. Integer lobortis mi vel elit venenatis varius. Sed ullamcorper, tortor quis tristique feugiat, lacus nulla euismod ex, quis fringilla ex mauris efficitur magna.


                    </p>
                </section>
            </div>

        </div>
    </div>
</div>
<div style="min-height: 100vh;" class="bg-light">
    <div class="container-fluid" style="min-height: 90vh">
        <div class="row justify-content-md-center pt-2">
            <div class="col-12 text-center" style="min-height: 10vh">
                <h2>Les collections gallo-romaines</h2>
            </div>
            <div class="col-10 col-offset-1 mb-5 mb-md-0"  style="min-height: 60vh">
            <div class="row">

                <div class="col-6 col-md-2 grid-card" *ngFor="let item of data_list">
                    <img src="https://via.placeholder.com/636x636" class="d-block w-100" alt="...">
                </div>
            </div>
            </div>

            <div class="col-10 col-offset-1 mb-3 mb-md-0"  style="min-height: 20vh">
                <section id="le-musee">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo, nulla in vehicula semper, orci augue rutrum massa, mollis molestie lectus dolor sit amet nunc. Mauris nisi felis, laoreet et tortor eu, eleifend pellentesque sapien. Nam ullamcorper hendrerit metus eu blandit. Phasellus elementum malesuada urna non tincidunt. Quisque tempus massa vitae nisi malesuada, sit amet lacinia enim pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras placerat mauris in justo pellentesque tempor quis nec massa. Sed aliquet consequat orci, et accumsan lorem vestibulum sit amet. Morbi eget dolor in eros ultrices sollicitudin nec id nunc. Integer lobortis mi vel elit venenatis varius. Sed ullamcorper, tortor quis tristique feugiat, lacus nulla euismod ex, quis fringilla ex mauris efficitur magna.


                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 100vh;background-color:white">
    <div class="container-fluid" style="min-height: 90vh">
        <div class="row justify-content-md-center pt-2">
            <div class="col-12 text-center" style="min-height: 10vh">
                <h2>Les collections mérovinginennes</h2>
            </div>
            <div class="col-12 mb-5 mb-md-0"  style="min-height: 60vh">
            
            </div>

            <div class="col-10 col-offset-1 mb-3 mb-md-0"  style="min-height: 20vh">
                <section id="le-musee">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo, nulla in vehicula semper, orci augue rutrum massa, mollis molestie lectus dolor sit amet nunc. Mauris nisi felis, laoreet et tortor eu, eleifend pellentesque sapien. Nam ullamcorper hendrerit metus eu blandit. Phasellus elementum malesuada urna non tincidunt. Quisque tempus massa vitae nisi malesuada, sit amet lacinia enim pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras placerat mauris in justo pellentesque tempor quis nec massa. Sed aliquet consequat orci, et accumsan lorem vestibulum sit amet. Morbi eget dolor in eros ultrices sollicitudin nec id nunc. Integer lobortis mi vel elit venenatis varius. Sed ullamcorper, tortor quis tristique feugiat, lacus nulla euismod ex, quis fringilla ex mauris efficitur magna.


                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

