<div class="container pb-5">
    <div class="row mt-3 d-flex align-items-center">
    <div class="col-12 col-md-6">
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Place%20de%20l'eglise%2023270%20Clugnat+(Mus%C3%A9e%20Arch%C3%A9ologique%20Clugnat)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
    </div>
    <div class="col-12 col-md-6">
        <h1>Musée Archéologique de Clugnat</h1>
        <address class="mb-5"><h3>
            10 bis Place de l'Eglise
        <br/>
            23270 Clugnat</h3>

        </address>
    

        <h2>Horaires</h2>
        <h3>Ouvert toute l'année sur RDV et de mi-juin à mi-septembre le samedi de 15h à 18h</h3>
    </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center mb-4 mt-4">
            <h1>Nous contacter</h1>
        </div>
        <div class="col-1">
        </div>
        <div class="col-10">

            <form>
                <div class="row">

                <div class="col-12 col-md-6 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Afin de pouvoir vous répondre par mail.</div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <label for="exampleInputName" class="form-label">Nom, Prénom</label>
                  <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
            </div>
            <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>

            </form>
        </div>
        <div class="col-1">

        </div>

        <div class="col-1">

        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-6 text-center ">
                    <h3>
                        Par mail :
                    </h3>
                    <h4><a href="mailto:mailadress@test.com">mailadress@test.com</a></h4>
                </div>
                <!-- <div class="col-2 text-center">
                    OU
                </div> -->
                <div class="col-6 text-center">
                    <h3>
                        Par téléphone :
                    </h3>
                <h4><a href="tel:+123456789">+123456789</a></h4>
                </div>
            </div>

               
        </div>
    </div>
</div>

